NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_API_VERSION=2026-04-17

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

RESEND_API_KEY=re_xxxxxxxxx
CONTACT_TO_EMAIL=me@domain.com
CONTACT_FROM_EMAIL="Daniel Wijaya <me@domain.com>"
CONTACT_RATE_LIMIT_WINDOW_MINUTES=3
CONTACT_RATE_LIMIT_MAX_REQUESTS=1
